.container {
    display: flex;
    background-color: darkslategray;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
}

.inputsBlock {
    border: 2px solid deepskyblue;
    border-radius: 5px;
    padding: 15px;
    min-width: 250px;
    max-width: 250px;
}

.inputsInterface {
    border: 2px solid deepskyblue;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    height: 40%;
}

.resultInterface {
    border: 2px solid deepskyblue;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    color: deepskyblue;
    height: 40%;
    text-align: center;
}

.incrementValue{
    font-size: 45px;
}
.incrementValue1{
    margin-top: 10px;
    font-size: 20px;
}

.inputsInterface label {
    color: deepskyblue;
    margin-right: 15px;
}

.inputsInterface input {
    border-radius: 3px;
    border: 2px solid deepskyblue;
    width: 49%;
}

.buttonSection {
    display: flex;
    justify-content: space-around;
    border: 2px solid deepskyblue;
    border-radius: 5px;
    padding: 15px;
}

.inputsInterface div {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

